body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-family: Calibri,Candara,Segoe,Segoe UI, Optima,Arial, sans-serif;
}

.info{
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; 


}
